.iti {
    width: 100%
}
.iti__flag {
    background-image: url("/App_Plugins/UmbracoCommunityFormsIntlTelInput/images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("/App_Plugins/UmbracoCommunityFormsIntlTelInput/images/flags@2x.png");
    }
}